<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>726949968874-snhtfu7g2bnkshh3mhcq5c5me13d2u5q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.726949968874-snhtfu7g2bnkshh3mhcq5c5me13d2u5q</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>726949968874-q5tg737i0jgufn8rf3a1pjb2p5p6scfs.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDuLZd6SWkkoUTLP3DH5anaQvntwxwBlaI</string>
	<key>GCM_SENDER_ID</key>
	<string>726949968874</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tomahock.fogos</string>
	<key>PROJECT_ID</key>
	<string>admob-app-id-6663345165</string>
	<key>STORAGE_BUCKET</key>
	<string>admob-app-id-6663345165.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:726949968874:ios:210398e3c97918b9</string>
	<key>DATABASE_URL</key>
	<string>https://admob-app-id-6663345165.firebaseio.com</string>
</dict>
</plist>